@charset "UTF-8";
/*adicionando estilos de fontes*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*declarando varianes de cores e fontes*/

:root {
    --cor01: #81DFA2;
    --cor02: #3DD973;
    --cor03: #2EA658;
    --cor04: #479161;
    --cor05: #19592F;

    --fonte-titulos: 'Bebas Nuee', sans-serif;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'android', 'Times New Roman', Times, serif;
}

body {
    
    font-family: var(--fonte-padrao);
    
}